@use '../../styles/vars' as v;

.dashboardMember {

  &__title {
    margin: v.$gutter * 1.5 0 v.$gutter * 1.5 0;
    font-size: 1.8em;
    font-weight: v.$text-bold;
  }

  &__coaching {
    margin: v.$gutter 0 0 0;
    height: 250px;
    overflow: hidden;
  }

  &__workout {
    margin: v.$gutter 0 0 0;
    height: 390px;
    overflow: hidden;
  }
  
}

.cta {
  margin: v.$gutter * 2 v.$gutter;
  display: inline-block;

  &__text {
    margin: v.$gutter auto;
    padding: v.$gutter / 2 v.$gutter;
    background-color: v.$alt-color;
    border-radius: v.$element-radius;
    color: v.$primary-color;
    font-weight: v.$text-bold;
    border: 1.5px solid v.$primary-color;
  }

  &__text:hover {
    background-color: v.$primary-color;
    color: v.$alt-color;
    border: 1.5px solid v.$primary-color;
  }
}
