$primary-color: #245768;
$secondary-color: #91e6d8;
$alt-color: #fff;
$font-color: rgb(225, 236, 236);
$text-color: black;

$text-light: 300;
$text-normal: 500;
$text-bold: 700;

$gutter: 1rem;

$main-shadow: 0 0 5px .2px $primary-color;

$element-radius: 10px;
$button-radius: 10px;

$transition-fast: 1s;
$transition-slow: .2s;
