@use '../../styles/vars' as v;

.manager {
  width: 100%;
  margin-top: v.$gutter * 4.5;
  display: flex;
  justify-content: space-around;
  background-image: url(../../assets/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;


  &-content-left {
    width: 50%;
    display: flex;
    justify-content: center;
  }


  &-add-user {

    &-title {
      text-align: center;
      color: v.$secondary-color;
      font-weight: v.$text-bold;
      font-size: v.$text-size * 1.7;
      margin-bottom: v.$gutter;
      text-transform: uppercase;
    }
    &-form {
      width: 500px;
      background-color: v.$alt-color;
      padding: v.$gutter;
      margin-top: v.$gutter;
      margin-bottom: v.$gutter;
      border-radius: 10px;
      border: 2px solid v.$secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      // &-names {
      //   display: flex;
      //   justify-content: space-evenly;
      //   flex-direction: column;
      //   height: 50%;
      //   padding: v.$gutter;
        &-names-infos {
          margin-left: 20%;
          width: 50%;
          color: #666;
          font-weight: 600;
          font-size: 0.9 * v.$text-size;
          text-transform: uppercase;
          margin-top:  v.$gutter;
          display: flex;
          flex-direction: column;
        }
        &-names-input {
          width: 100%;
          border: none;
          border-bottom: 3px solid #ccc;
          font-size: v.$gutter;
          font-style: italic;
          transition: 0.5s;
          margin-top: 0.5 * v.$gutter;
          &:focus {
            padding: v.$gutter;
            transition: 0.5s;
          }
        }
      // }
    }
    &-checkroles {
      display: flex;
      justify-content: space-evenly;
      // margin: v.$gutter * 3;
      // margin-bottom: v.$gutter *5;
      &-title {
        font-size: v.$text-size;
        text-transform: uppercase;
        font-weight: 600;
        color: #666;
        margin-bottom: v.$gutter;
      }
    }
    &-speciality {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: v.$gutter;
      // padding: v.$gutter * 2;
      &-title {
        font-size: v.$text-size;
        font-weight: 600;
        text-transform: uppercase;
        color: #666;
        margin-bottom: v.$gutter;
      }
      &-container {
        width: 300px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      &-item {
        display: flex;
        flex-wrap: wrap;
        color: #666;
        font-size: 0.9 * v.$text-size;
        font-style: italic;
      }
    }
    &-submit {
      padding: v.$gutter / 2;
      width: v.$gutter * 8;
      margin-top: v.$gutter;
      text-align: center;
      border: 2px solid v.$primary-color;
      border-radius: 5px;
      color: oldlace;
      background-color: v.$primary-color;
      font-size: v.$gutter * 1.2;
      font-weight: 500;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        color: v.$primary-color;
        background-color:oldlace;
        border: 2px solid v.$primary-color;
      }
    }
  }


}

 .manager-content-right {
   display: flex;
   justify-content: center;
   width: 50%;
   background-color: transparent
 }

.react-datepicker-wrapper {
  width: 50%;
}

.dashboard-select-slot {

  &-form {
    width: 500px;
    border-radius: 10px;
    border: 2px solid v.$secondary-color;
    padding: 16px;
    margin-top: v.$gutter;
    margin-bottom: v.$gutter;
    background-color: v.$alt-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;

  }
  &-title {
    color: v.$secondary-color;
    font-weight: v.$text-bold;
    font-size: v.$text-size * 1.7;
    // margin-bottom: v.$gutter;
    text-transform: uppercase;
  }
  &-input {
    width: 100%;
    border: none;
    border-bottom: 3px solid #ccc;
    font-size: v.$text-size;
    font-style: italic;
    text-align: center;
    transition: 0.5s;
    color: #666;
    margin-top: .5 * v.$gutter;
    &:focus {
      transition: 0.5s;
    }
    &::placeholder {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
  &-submit {
    padding: v.$gutter / 2;
    width: v.$gutter * 8;
    margin-top: v.$gutter;
    text-align: center;
    border: 2px solid v.$primary-color;
    border-radius: 5px;
    // background-image: linear-gradient(to right, transparent 50%, v.$primary-color 50%, v.$secondary-color);
    // background-size: 200%;
    color: oldlace;
    background-color: v.$primary-color;
    font-size: v.$gutter * 1.2;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: v.$primary-color;
      background-color: oldlace;
      border: 2px solid v.$primary-color;
    }
  }
  &-label {
    color: v.$primary-color;
    font-size: v.$text-size;
    width: 50%;
    text-align-last: center;
  }
  &-select {
    border: none;
    border-bottom: 3px solid #ccc;
    // margin-left: v.$gutter;
    width: 100%;
    font-size: 0.8 * v.$text-size;
    font-style: italic;
    color: #666;

    margin-top: 1 * v.$gutter;
    &:focus {
      
    }
  }
}

.success-adduser {
  margin-top: v.$gutter;
  &-text {
    color: white;
    background-color: MediumSeaGreen;
    border-radius: 8px;
    padding: 0.5 * v.$gutter;

    &-name {
      font-weight: 600;
    }
  }
}
.success-addslot {
  margin-top: v.$gutter;
  &-text {
    color: white;
    background-color: MediumSeaGreen;
    border-radius: 8px;
    padding: 0.5 * v.$gutter;
  }
}

.error {
  margin-top: v.$gutter;
}

.react-datepicker__time-list-item--disabled {
  display: none;
}

select:invalid {
  color: gray;
  font-style: italic;
}

option {
  color: v.$secondary-color;
}

@media screen and (max-width: 1050px) {

  .dashboard-select-slot {

    &-form {
      transition: 0.5s;
        width: 400px;
    }
}

  .manager-add-user {

    &-form {
      transition: 0.5s;
        width: 400px;
    }
  }

}

@media screen and (max-width: 845px) {

  .manager {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .manager-content-left {
    width: 90%;
  }

  .manager-content-right {
    width: 90%;
  }

  .dashboard-select-slot {

    &-form {
      transition: 0.5s;

    }
}

  .manager-add-user {

    &-form {
      transition: 0.5s;
    }
  }

}
