@use '../../styles/vars' as v;
.box {
  height: 100vh;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  font-size: 3rem;
  background-color: v.$secondary-color;
  scroll-behavior: smooth;
}
.team {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  text-align: right;
  color: rgb(151, 137, 137);
  font-weight: bold;
  font-size: 1.6rem;
  // font-family: Roboto;
  &-box {
    &-img {
      width: 300px;
      height: 350px;
      // border: 3px solid #f0f;
      border-radius: 20px 0;
      box-shadow: 5px 5px 10px black;
    }
    &-icon-git {
      width: 40px;
      transition: 0.5s;
      &:hover {
        width: 50px;
        transition: 0.5s;
      }
    }
    &-icon-linkedin {
      width: 60px;
      transition: 0.5s;
      &:hover {
        width: 70px;
        transition: 0.5s;
      }
    }
    &-infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      // border-right: 3px solid v.$primary-color;  
      // border-left: 3px solid v.$primary-color;
    }
  }
}

strong {
  color: v.$primary-color;
  font-size: 1.5rem;
}

.team-white {
  color: white;
}
