<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacts Team REST 'enforme</title>
</head>

<body>
	<header>
	<h1>Team REST'enforme</h1>
	</header>

	<main>
	<h2> PROMO : NAUTILUS</h2>
	
		<div>
			<p>Mathilde FRERE</p>
			<p>ROLE : Product Owner</p>
			
				<img src="./pictures/Mathilde_img.png" alt="photo du membre">
				<div>
				<a href="https://github.com/Mathilde-Frere"><img src="./pictures/logoGit.png" alt= "lien profil GIT"></a>
				<a href="https://www.linkedin.com/in/mathilde-frere/"><img src="./pictures/logoLinkedin.png" alt= "lien profil linkedin"></a>
				</div>
			
		</div>

		<div>
			<p>Laurent SERALINE</p>
			<p>ROLE : Scrum Master</p>
			
				<img src="./pictures/Laurent_img.jpg" alt="photo du membre">
				<div>
					<a href="https://github.com/Laurent-srln"><img src="./pictures/logoGit.png" alt= "lien profil GIT"></a>
					<a href="https://www.linkedin.com/in/laurent-s%C3%A9raline-b6b085137/"><img src="./pictures/logoLinkedin.png" alt= "lien profil linkedin"></a>
				</div>
		</div>		
		<div>
		<p>Sountid LY</p>
		<p>ROLE : Lead dev-back </p>
		
			<img src="./pictures/Soun_img.jpg" alt="photo du membre">
			<div>
				<a href="https://github.com/Sountid"><img src="./pictures/logoGit.png" alt= "lien profil GIT"></a>
				<a href="https://www.linkedin.com/in/sountid-claude-ly-718b0419a/"><img src="./pictures/logoLinkedin.png" alt= "lien profil linkedin"></a>
			</div>
		</div>
		<div>
			<p>Gwenaël COTTON</p>
			<p>ROLE : Lead dev-front</p>
			
				<img src="./pictures/Gwen_img.jpg" alt="photo du membre">
				<div>
					<a href="https://github.com/Gwenael-Cotton"><img src="./pictures/logoGit.png" alt= "lien profil GIT"></a>
					<a href="https://www.linkedin.com/in/gwena%C3%ABlcotton/"><img src="./pictures/logoLinkedin.png" alt= "lien profil linkedin"></a>
				</div>
		</div>
		<div>
			<p>Julien BLOTIERE</p>
			<p>ROLE : Git Master</p>
			
				<img src="./pictures/ac22a532dc41475eabcd9195e28410f9.gif"alt="photo du membre">
				<div>
					<a href="https://github.com/julienblotiere"><img src="./pictures/logoGit.png" alt= "lien profil GIT"></a>
					<a href=""><img src="./pictures/logoLinkedin.png" alt= "lien profil linkedin"></a>
				</div>
		</div>
	</main>

	<footer>

	</footer>
	
</body>
</html>
