@use '../../styles/vars' as v;

.selectWorkout {
  text-align: left;
  margin: 1rem;

  &__label {
    display: block;
    margin-bottom: .5rem;
  }

  &__select {
    color: darkslategray;
  }
}

.workouts {
  padding: v.$gutter v.$gutter * 2 0;
  background-color: white;
  // background-image: url(../../assets/bg_1.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 20% 80%;

  &__title {
    margin: 0 v.$gutter * 2 0;
    text-align: center;
    color: v.$secondary-color;
    font-weight: v.$text-bold;
    font-size: v.$text-size * 1.7;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__content {
    width: 90%;
    margin: v.$gutter auto;
  }
}

.workout {
  margin: 0 0 2 * v.$gutter 0;
  padding: v.$gutter / 1.5 0;
  background-color: white;
  border-radius: v.$element-radius;
  border: 2px solid #666;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__date {
    margin-bottom: v.$gutter;
    margin-left: v.$gutter;
    padding: v.$gutter v.$gutter * 2;
    font-weight: v.$text-normal;
    font-size: 1.2em;
    background-color: #666;
    color: white;
    padding: 0.4 * v.$gutter;
    border-radius: 8px;
    width: 200px;

  }

  &__text {
    width: 50%;
    height: 100px;
    margin: 0 auto v.$gutter * 1.5 auto;
    padding: v.$gutter v.$gutter;
    background-color: v.$alt-color;
    border-radius: v.$element-radius;
    
    text-align: left;
    font-weight: v.$text-normal;
    font-size: 1em;
    color: v.$secondary-color;
  }

  &__health {
    margin: 0 v.$gutter * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: .85em;

    .amount {
      padding: .4rem .1rem;
      color: #666;
      font-weight: 600;
      text-transform: uppercase;

      &-span {
        color: v.$primary-color;
        font-size: v.$text-size * 1.2;
      }

    }
    .span {
      color: black;
      font-weight: v.$text-normal;
    }
  }

  &__button {
    border: none;
    background-color: #91E6D8;
    box-shadow: 0 0 8px .2px gray;
    color: #245768;
    border-radius: 10px;
    padding: .4rem 2rem;
    float: right;
  }
}

.ctaWorkout {
  margin: v.$gutter  0 0 0;
  display: flex;
  justify-content: center;

  &__content {
    padding: v.$gutter / 2;
    width: 250px;
    // margin-top: v.$gutter;
    text-align: center;
    border: 2px solid v.$primary-color;
    border-radius: 5px;
    color: oldlace;
    background-color: v.$primary-color;
    font-size: v.$gutter * 1.2;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: v.$primary-color;
      background-color:oldlace;
      border: 2px solid v.$primary-color;
    }
  }
}


.coach-comment {
  margin: .5rem 1rem;

  &__meta {
    display: flex;
    align-items: center;

    &--img {
      width: 60px;
      margin: 0.8rem 1rem;
    }

    &--info {
      font-size: .8em;

      .author {
        font-weight: bold;
      }

      .date {
        font-style: italic;
      }
      .time {
        font-style: italic;
      }
    }
  }

  &--text {
    border: 1px solid black;
    border-radius: 30px;
    padding: 1rem;
    margin: 0 2.5rem;

  }
}
