@use '../../styles/vars'as v;

.coachings {
  padding: v.$gutter * 6 0 v.$gutter * 2 0;
  background-image: url(../../assets/personal_trainer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 55%;

  &__title {
    margin: v.$gutter * 2 0 v.$gutter * 2 0;
    text-align: center;
    font-size: 1.7em;
    font-weight: v.$text-bold;
  }

  &__content {
    width: 55%;
    margin: v.$gutter * 2 auto;
  }
}

.ctaCoaching {
  margin: v.$gutter * 3 0 0 0;
  display: flex;
  justify-content: center;

  &__content {
    margin: 0 v.$gutter;
    display: inline-block;
    background-color: v.$alt-color;
    border-radius: 999px;
  }

  &__text {
    display: block;
    width: auto;
    padding: v.$gutter / 1.3 v.$gutter * 2;
    border: 2px solid v.$primary-color;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, v.$primary-color 50%, v.$secondary-color);
    background-size: 200%;
    color: v.$primary-color;
    font-size: 1.2em;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: v.$alt-color;
      background-position: 100%;
      border: 2px solid v.$primary-color;
    }
  }
}

.coaching {
  margin: v.$gutter * 1.5 0;
  padding: v.$gutter / 1.5 0;
  background-color: #245768;
  box-shadow: 0 0 10px 1px grey;
  border-radius: v.$element-radius;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__coach {
    margin: v.$gutter;

    .img {
      border-radius: v.$element-radius;
      width: 130px
    }
  
    .name {
      padding: v.$gutter v.$gutter / 2 0 0;
      font-size: 1.1em;
      color: v.$alt-color;
      text-align: center;
    }
  }


  &__datetime {
    display: flex;
    flex-direction: column;
    color: v.$alt-color;
    text-align: center;

    .date {
      margin: v.$gutter 0;
      font-weight: v.$text-normal;
      font-size: 1.2em;
    }

    .time {
      margin: v.$gutter 0;
      font-weight: v.$text-normal;
      font-size: 1.2em;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;

    .calendar {
      margin: v.$gutter 0;
      width: 25px;
      height: 30px;
    }
    
    .clock {
      margin: v.$gutter 0;
      width: 25px;
      height: 30px;
    }
  }
}
