@use '../../styles/vars'as v;

.coachings {
  padding: v.$gutter  0 v.$gutter  0;
  // background-image: url(../../assets/personal_trainer.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 45% 55%;
  background-color: white;

  &__title {
    margin: 0 v.$gutter  0;
    text-align: center;
    color: v.$secondary-color;
    font-weight: v.$text-bold;
    font-size: v.$text-size * 1.7;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__content {
    width: 70%;
    margin: v.$gutter * 2 auto;
  }
}

.ctaCoaching {
  margin: v.$gutter  0 0 0;
  display: flex;
  justify-content: center;

  &__content {
    padding: v.$gutter / 2;
    width: 250px;
    // margin-top: v.$gutter;
    text-align: center;
    border: 2px solid v.$primary-color;
    border-radius: 5px;
    color: oldlace;
    background-color: v.$primary-color;
    font-size: v.$gutter * 1.2;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: v.$primary-color;
      background-color:oldlace;
      border: 2px solid v.$primary-color;
    }
  }
}

.coaching {
  margin: v.$gutter *0.8 0;
  margin-bottom: v.$gutter *8;
  padding: v.$gutter / 1.5 0;
  border: 2px solid RGB(107,199,160);
  border-radius: v.$element-radius;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__coach {
    margin: v.$gutter;

    .img {
      border-radius: v.$element-radius;
      width: 130px
    }
  
    .name {
      padding: v.$gutter * 0.8;
      font-size: 1.1em;
      color: v.$alt-color;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      background-color: RGB(107,199,160) ;
      border-radius: 8px;
    }
  }


  &__datetime {
    display: flex;
    flex-direction: column;
    color: #666;
    text-align: center;

    .date {
      margin: v.$gutter 0;
      font-weight: v.$text-normal;
      font-size: 1.2em;
      background-color: #666;
      color: white;
      padding: 0.4 * v.$gutter;
      border-radius: 8px;
    }

    .time {
      margin: v.$gutter 0;
      font-weight: v.$text-normal;
      font-size: 1.2em;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;

    .calendar {
      margin: v.$gutter 0;
      width: 25px;
      height: 30px;
    }
    
    .clock {
      margin: v.$gutter 0;
      width: 25px;
      height: 30px;
    }
  }
}
