@use '../../styles/vars'as v;

.add-workout {
  padding: v.$gutter * 5 0 0 0;

  &__mainContainer {
    padding: v.$gutter 0;
    background-image: url(../../assets/training_notes_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 20%;
  }

  &__container {
    width: 65%;
    margin: v.$gutter * 2 auto;
    padding: v.$gutter;
    background-color: v.$alt-color;
    border-radius: 10px;
    box-shadow: 0 0 8px .2px grey;
    opacity: .9;
  }

  &__title {
    margin: 0 auto v.$gutter auto;
    padding: v.$gutter * 2 0;
    text-align: center;
    color: v.$primary-color;
    font-weight: v.$text-bold;
    font-size: 1.7em;
  }

  &__form {

    &-subpart {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
    }

    &-date {

    }

    &-label-date {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.2em;
    }

    .react-datepicker {
      margin-top: v.$gutter * 2;
    }

    &-health {
      margin: v.$gutter 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1em;
    }

    &-subtitle {
      margin: 0 0 v.$gutter 0;
      color: black;
      text-align: center;
      font-size: 1.2em;
    }

    &-healthData {
      margin: v.$gutter v.$gutter * 2;
      display: flex;
      flex-direction: column;
      text-align: right;
    }

    &-weight {
      margin: v.$gutter * 1.5 0;
    }

    &-muscular {
      margin: v.$gutter * 1.5 0;
    }

    &-fat {
      margin: v.$gutter * 1.5 0;
    }

    &-bone{
      margin: v.$gutter * 1.5 0;
    }

    &-water {
      margin: v.$gutter * 1.5 0;
    }

    &-input {
      margin: 0 v.$gutter;
      width: 20%;
      border: none;
      border-bottom: 3px solid #ccc;
      font-size: v.$gutter;
      transition: 0.5s;
      &:focus {
        transition: 0.5s;
      }
    }

    &-details {
      margin: v.$gutter * 2 0;

      &-label {
        margin: 0 v.$gutter * 3;
        font-size: 1.2em;
      }

      &-input {
        display: block;
        margin: v.$gutter auto;
        width: 90%;
        padding: v.$gutter * 3 v.$gutter / 2;
      }
    }


    &-comment {

      .label__comment {
        
      }

      .input__comment {
        display: block;
        margin: v.$gutter auto;
        width: 90%;
        padding: v.$gutter * 3 v.$gutter / 2;
      }
    }

    &-submit {
      margin: v.$gutter;
      display: flex;
      justify-content: center;
    }

    &-text {
      display: block;
      width: auto;
      padding: v.$gutter / 1.7 v.$gutter * 1.8;
      border: 2px solid v.$primary-color;
      border-radius: 999px;
      background-image: linear-gradient(to right, transparent 50%, v.$primary-color 50%, v.$secondary-color);
      background-size: 200%;
      color: v.$primary-color;
      font-size: 1.2em;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: v.$alt-color;
        background-position: 100%;
        border: 2px solid v.$alt-color;
      }
    }
  }
}

.errorMessageAddWorkout {
  margin-top: v.$gutter;

  &__text {
    font-size: .9em;
    color: brown;
  }
}

.successMessageAddWorkout {
  margin-top: v.$gutter;
  animation-duration: 650ms;
  animation-name: success;

  @keyframes success {
    0% {
      transform: translateY(-100%);
    }

    40% {
      transform: translateY(20%);
    }

    100% {
      transform: translateY(0%)
    }
  }

  &__text {
    font-size: .9em;
    color: #f0f;
    text-align: center;
  }
}

@media screen and (max-width : 768px) {
  
  .add-workout {

    &__container {
      width: 90%;
    }
  }
  
}
