@use '../../styles/vars' as v;

.header {
  display: flex;
  width: 100%;
  background-color: v.$primary-color;
  &-logo {
    background-color:v.$primary-color;
    width: 100px;
    height: 100px;
  }
}
//#6E7783 gris vert
