@use '../../styles/vars'as v;

.footer {
  background-color: v.$primary-color;
  padding: v.$gutter * 2 0;
  color: v.$alt-color;

  &__content {

    &-team:hover {
      color: v.$secondary-color;
    }
    &-coachs:hover {
      color: v.$secondary-color;
    }
    &-legalNotice:hover {
      color: v.$secondary-color;
    }
  }
}
