@use '../../styles/vars'as v;

.coachs {
  width: 90%;
  max-width: 1140px;
  margin: v.$gutter auto;

  &__title {
    margin: v.$gutter * 1.5 0;
    font-size: 2em;
    font-weight: v.$text-bold;
    color: v.$primary-color;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}



.coach {
  margin: v.$gutter v.$gutter * 1.5;
  padding: v.$gutter v.$gutter * 1.5;
  width: 920px;
  @media (min-width: 1140px) {
    width: calc((80% - 2rem)/3);
  }
  box-shadow: 0 0 8px .2px #245768;
  border-radius: v.$element-radius;
  display: flex;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: v.$gutter * 1.5;

    &-name {
      padding: v.$gutter 0;
      font-weight: v.$text-bold;
      color: v.$primary-color;
    }
  
    &-img {
      width: 120px;
    }
  }


  &__specialities {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin: v.$gutter / 2;
      padding: v.$gutter / 2 v.$gutter / 1.5;
      background-color: v.$primary-color;
      border-radius: v.$element-radius;
      color: v.$alt-color;
      font-size: .8em;
    }
  }

  &__cta {
    width: 50%;
    margin: v.$gutter auto;
    padding: v.$gutter v.$gutter * 2;
    background-color: v.$primary-color;
    border-radius: v.$element-radius;
    color: v.$alt-color;
    font-weight: v.$text-bold;
    border: 1.5px solid v.$primary-color;
  }

  &__cta:hover {
    background-color: v.$alt-color;
    color: v.$primary-color;
    border: 1.5px solid v.$primary-color;
  }
}
