@use '../../styles/vars'as v;


.coachs {

  width: 100%;
  margin-top: 60px;
  background-image: url(../../assets/personal_trainer.jpg);
  background-position: 80% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 87vh;

 

  &__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: v.$gutter * 3;
    padding: 1rem 2rem;
    font-size: v.$text-size *3;
    text-align: center;
    font-weight: v.$text-bold;
    color: v.$primary-color;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    z-index: 900;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    margin-top: 60px;
    padding-top: 100px;
  }
}



.coach {

  padding: v.$gutter ;
  border: 2px solid v.$secondary-color;
  border-radius: v.$element-radius;
  width : 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgba(255, 255, 255);
  margin-bottom: v.$gutter;
  min-height: 250px;


  &__info {
    display: flex;
    flex-direction: column;
    width: 95%;


    &-firstname {
      padding: 0 0;
      font-weight: 600;
      color: #666;
      // text-transform: uppercase;
      text-align: center;
      margin-bottom: 0.3 * v.$gutter;
      font-style: italic;
    }

    &-lastname {
      padding: 0 0;
      font-weight: 600;
      color: #666;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0.3 * v.$gutter;
      font-style: italic;
    }
  
    &-img {
      width: 300px;
      border-radius: 6px;
    }
  }


  &__specialities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: v.$gutter;;

    &-item {
      margin: v.$gutter / 2;
      padding: v.$gutter / 2 v.$gutter / 1.5;
      border: 2px solid;
      border-radius: v.$element-radius;
      color: v.$primary-color;
      font-weight: v.$text-bold;
      font-size: 0.8 * v.$text-size;
      width: 90%;
      text-align: center;
      background-color: oldlace;
      text-transform: uppercase;
    }
  }

  &__cta {
    width: 50%;
    margin: v.$gutter auto;
    padding: v.$gutter v.$gutter * 2;
    background-color: v.$primary-color;
    border-radius: v.$element-radius;
    color: v.$alt-color;
    font-weight: v.$text-bold;
    border: 1.5px solid v.$primary-color;
  }

  &__cta:hover {
    background-color: v.$alt-color;
    color: v.$primary-color;
    border: 1.5px solid v.$primary-color;
  }
}

 .specialty {

   &-nutrition {
     color: tomato;
     border-color: tomato;
   }

   &-cardio {
    color: Plum;
    border-color: Plum;
  }

  &-electrostimulation {
    color: MediumSeaGreen	;
    border-color: MediumSeaGreen	;
  }

  &-gymnastique {
    color: DodgerBlue;
    border-color: DodgerBlue;
  }

  &-haltérophilie {
    color: DarkOrange;
    border-color: DarkOrange;
  }

  &-musculation {
    color: DarkGray;
    border-color: DarkGray;
  }

  &-rééducation {
    color: SaddleBrown;
    border-color: SaddleBrown;
  }
 }


// @media screen and (max-width: 768px) {
//   .coachs {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-color: #eee;
  
//     &__title {
//       margin: 6rem auto;
//       margin-bottom: v.$gutter * 3;
//       font-size: 4rem;
//       font-weight: v.$text-bold;
//       color: v.$primary-color;
//     }
  
//     &__content {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-around;
  
//     }
//   }

  
  
//   .coach {
//     // margin: v.$gutter v.$gutter * 1.5;
//     padding: v.$gutter v.$gutter * 1;
//     // width: 920px;
//     // @media (min-width: 1140px) {
//     //   width: calc((80% - 2rem)/3);
//     // }
//     box-shadow: 0 0 8px .2px #245768;
//     border-radius: v.$element-radius;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     background-color: rgba(255, 255, 255);
//     margin-bottom: v.$gutter;

  
//     &__info {
//       display: flex;
//       flex-direction: column;
//       margin-right: auto;
  
//       &-name {
//         padding: v.$gutter 0;
//         font-weight: v.$text-bold;
//         color: v.$primary-color;
//       }
    
//       &-img {
//         width: 300px;
//         border-radius: 6px;
//       }
//     }
  
  
//     &__specialities {
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
  
//       &-item {
//         margin: v.$gutter / 2;
//         padding: v.$gutter / 2 v.$gutter / 1.5;
//         // background-color: v.$primary-color;
//         border-radius: v.$element-radius;
//         color: v.$primary-color;
//         font-weight: v.$text-bold;
//         font-size: 1em;
//       }
//     }
  
//     &__cta {
//       width: 50%;
//       margin: v.$gutter auto;
//       padding: v.$gutter v.$gutter * 2;
//       background-color: v.$primary-color;
//       border-radius: v.$element-radius;
//       color: v.$alt-color;
//       font-weight: v.$text-bold;
//       border: 1.5px solid v.$primary-color;
//     }
  
//     &__cta:hover {
//       background-color: v.$alt-color;
//       color: v.$primary-color;
//       border: 1.5px solid v.$primary-color;
//     }
//   }
// }
