@use '../../styles/vars'as v;


.login {
  background-image: url(../../assets/accueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  box-shadow: 1px 1px 50px rgb(253, 253, 253);
   height: 90vh;
   display: flex;
   align-items: center;
   z-index: 1;
 }

.auth {
  margin-left: v.$gutter * 15;
  width: 550px;
  height: auto;
  padding: 25px;
  background: v.$alt-color;
  border-radius: 3px;
  box-shadow: 5px 5px 50px;
  z-index: 2;

  &-form {

    &-title {
      color: v.$primary-color;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 65px;
      text-align: center;
      text-decoration: underline;
      }

    &-group {
      position: relative;
      display: flex;
      margin-bottom: 30px;

      &-button {
        display: block;
        width: auto;
        padding: 15px 60px;
        border: 3px solid v.$primary-color;
        border-radius: 999px;
        background-image: linear-gradient(to right, transparent 50%, v.$primary-color 50%, v.$secondary-color);
        background-size: 200%;
        color: v.$primary-color;
        font-size: 20px;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: #fff;
          background-position: 100%;
          border: 3px solid #fff;
        }
      }

      &:nth-child(4) {
        margin: 65px 0;
        justify-content: center;
      }
    }

    &-label {
      color: v.$primary-color;
      font-size: 20px;
      font-weight: 500;
      transition: 0.4s ease-out;
    }

    &-input {
      display: block;
      width: 300px;
      padding: 10px 5px;
      border: none;
      outline: none;
      background: none;
      border-bottom: 3px solid #aaa;
      color: #666;
      font-size: 20px;
      transition: 0.4s ease-out;
      
      &:focus {
        border-left: 1px solid v.$primary-color;
        border-bottom: 3px solid v.$primary-color;
        padding-left: 10px;
      }
    }
  }
}
// .auth h3 {
//   color: v.$primary-color;
//   font-weight: 500;
//   text-decoration: underline;
// }

.error {
  color: red;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

// .formBloc .mdpPerdu a {
//   color: #8b97d7;
//   font-size: 16px;
//   font-weight: 400;
//   text-decoration: none;
//   padding-bottom: 5px;
//   border-bottom: 2px solid transparent;
// }
// .formBloc .mdpPerdu a:hover {
//   border-bottom-color: #8b97d7;
// }
