@use '../../styles/vars'as v;

.auth-container {
  display: flex;
  width: 100%;
  // background-color: OldLace;
  height: 95vh;
  background-image: url(../../assets/bg_1.png);
  // background-position: 80% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}



.auth {
  width: 50%;
  padding: 25px;
  z-index: 2;
  display: flex;
  align-items: center;

  &-div-log {
    text-align: right;
    padding-right: 5rem;
    width: auto;
  }

  &-logo-container {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-logo {
    width: 350px;

  }

  &-form {
    width: auto;

    &-title {
      color: v.$primary-color;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 65px;
      text-align: center;
      text-decoration: underline;
      }

    &-group {
      // position: relative;
      // display: flex;
      // flex-direction: column;;
       margin-bottom: 30px;

      &-button {
        display: block;
        width: 300px;
        padding: 15px 60px;
        border: 3px solid coral;
        border-radius: 8px;
        //background-image: linear-gradient(to right, transparent 50%, v.$primary-color 50%, v.$secondary-color);
        background-size: 200%;
        color: oldlace;
        font-size: 1rem;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
        background-color: coral;
        font-family: 'Raleway', sans-serif;

        &:hover {
          color: coral;
          background-position: 100%;
          background-color: oldlace;
          border: 3px solid coral;
        }
      }

      &:nth-child(4) {
        margin: 65px 0;
        justify-content: center;
      }
    }

    &-label {
      color: coral;
      font-size: 20px;
      font-weight: 500;
      transition: 0.4s ease-out;
    }

    &-input {
      display: block;
      width: 300px;
      padding: 10px 5px;
      border: none;
      outline: none;
      background: none;
      border-bottom: 3px solid #aaa;
      color: #666;
      font-size: 1rem;
      transition: 0.4s ease-out;
      margin-top: 0.2rem;
      
      &:focus {
        border-left: 1px solid v.$primary-color;
        border-bottom: 3px solid v.$primary-color;
        padding-left: 10px;
      }
    }
  }
}


.error {
  color: white;
  background-color: oldlace;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
  border: 2px solid tomato;
  border-radius: 8px;
  padding: 0.4 * v.$gutter;
}

.lost-password {
  font-style: italic;
  text-decoration: underline;
  margin-top: 0.65rem;
  font-size: .8;
  color: #666
}

@media screen and (max-width: 930px) {
  .auth {

    width: 90%;
    
    &-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-logo {
      width: 200px;
    }

    &-logo-container {
      text-align: center;
      justify-content: center;
    }

    &-form {
      margin: auto;
    }

    &-div-log {
      padding-right: 0;
    }
}
}
